/* user defined css */
.header {
  background-color: #733daa;
  color: #ffffff;
}

.player {
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  border-left: solid 2px #EEEEEE;
  border-right: solid 2px #EEEEEE;
  letter-spacing: 2px;
  height: 4rem;
}

.counter {
  border-left: solid 2px #DDDDDD;
}
